.Header {
  width: 100%;
  height: 75px;
  background-color: var(--lightblue);
  padding: 15px 10px;
  text-align: center;
}

.Header-Title {
  font-weight: bold;
  margin: 0;
  color: var(--white);
}