.QuestionList {
  margin: 0;
  padding: 15px;
  list-style: none;
}

.QuestionList .question {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 5px;
}

.QuestionList .notes {
  font-style: italic;
  margin: 0;
}

.QuestionList li:not(:last-of-type) {
  padding-bottom: 15px;
  border-bottom: #dedede solid 1px;
  margin-bottom: 25px;
}